<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="Content-Style-Type" content="text/css">
  <title></title>
  <meta name="Generator" content="Cocoa HTML Writer">
  <meta name="CocoaVersion" content="2575.7">
  <style type="text/css">
    p.p1 {margin: 0.0px 0.0px 0.0px 0.0px; font: 12.0px Helvetica}
    p.p2 {margin: 0.0px 0.0px 0.0px 0.0px; font: 12.0px Helvetica; min-height: 14.0px}
  </style>
</head>
<body>
<p class="p1">body {</p>
<p class="p1"><span class="Apple-converted-space">  </span>font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;</p>
<p class="p1"><span class="Apple-converted-space">  </span>background: #ffffff;</p>
<p class="p1"><span class="Apple-converted-space">  </span>color: #000000;</p>
<p class="p1"><span class="Apple-converted-space">  </span>margin: 40px;</p>
<p class="p1"><span class="Apple-converted-space">  </span>line-height: 1.6;</p>
<p class="p1">}</p>
<p class="p2"><br></p>
<p class="p1">header {</p>
<p class="p1"><span class="Apple-converted-space">  </span>margin-bottom: 40px;</p>
<p class="p1">}</p>
<p class="p2"><br></p>
<p class="p1">h1, h2 {</p>
<p class="p1"><span class="Apple-converted-space">  </span>font-weight: 600;</p>
<p class="p1">}</p>
<p class="p2"><br></p>
<p class="p1">.tagline {</p>
<p class="p1"><span class="Apple-converted-space">  </span>font-style: italic;</p>
<p class="p1"><span class="Apple-converted-space">  </span>margin-top: -10px;</p>
<p class="p1">}</p>
<p class="p2"><br></p>
<p class="p1">ul {</p>
<p class="p1"><span class="Apple-converted-space">  </span>margin-left: 20px;</p>
<p class="p1">}</p>
<p class="p2"><br></p>
<p class="p1">footer {</p>
<p class="p1"><span class="Apple-converted-space">  </span>margin-top: 60px;</p>
<p class="p1"><span class="Apple-converted-space">  </span>font-size: 0.9em;</p>
<p class="p1">}</p>
</body>
</html>
